{
  "useTabs": true,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "printWidth": 120
}